# MySQL is required. The backend will create the database if the MySQL account has permission.
LT_DATABASE_URL=mysql+pymysql://root:password@127.0.0.1:3306/lt_collector?charset=utf8mb4

LT_DATABASE_AUTO_CREATE=true
LT_DATABASE_ECHO=false
LT_SESSION_COOKIE_NAME=lt_session
LT_SESSION_COOKIE_SECURE=false
LT_INITIAL_SUPERADMIN_USERNAME=superadmin
LT_INITIAL_SUPERADMIN_PASSWORD=123456
